<div class="dashboard-container">
    <div class="dashboard-header">
    </div>
    <div class="dashboard-content">

<div class="todo-container">
    <h2 style="color: brown;">My To-Do List</h2>
     <form [formGroup]="ToDoForm" (ngSubmit) ="AddTask()" >
    <div class="input-container" >
      <input
      matInput
        type="text"
        formControlName = "task"
        placeholder="Enter a Task"
      />
      <button mat-flat-button type="submit" color="success" >Add</button>
    </div>
</form>
    <ul class="todo-list">
      <li *ngFor="let task of tasksArray; let i = index" style=" display: flex; align-items: center; gap: 1vh;">
        <input type="checkbox"
        [checked]="task.completed"
        (change)="toggleTask(i)"/>
        <span [class.completed]="task.completed">        
             {{task.task}}
        </span>
        <button mat-flat-button color="danger" (click)="RemoveTask()" >Remove</button>
      </li>
    </ul>
  </div>
</div>
</div>