.sigin{
    position: fixed;
  inset: 0; 
  background-color: #f0f4f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sigin-form{
    background-color:white;
    width: 60%;
    height: 55%;
    padding: 3%;
    border-radius: 3%;
    display: flex;
    flex-direction: row;
}
.logo-form,
.main-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2vh;
}
.logo-form {
  flex: 2; 
  height: 60%;
}
.main-form {
  flex: 1.7; 
  gap:4vh;
}
.form-elements{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:1vh;

}
.buttons{  
    display: flex;  
justify-content: end;
}
/* .target-button{
    width: 17vh;
    height: 7vh;
} */
.select{
    width: 63%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1%;
}
.help-terms{
    display: flex;
    width: 30%;
    justify-content: space-between;
}