<div class="takenote-card2" [ngStyle]="{'background-color': data.colour}" >
    <div style="display: flex; width: 100%;">
      <mat-card-title>
        <input matInput [(ngModel)]="title" class="takenote-input" [style.background]="data.color" >
      </mat-card-title>
      <button mat-icon-button class="example-icon favorite-icon1" aria-label="Example icon-button with heart icon">
        <span class="material-symbols-outlined">keep</span>
      </button>
    </div>
    <div style="width: 100%;">
        <textarea 
        matInput 
        [(ngModel)]="takeaNote" 
        class="takenote-input" 
        (input)="onTextareaInput($event)"
      ></textarea>
          </div>
    <div style="display: flex; justify-content: space-between; width: 100%; align-items: center;">
      <div style="display: flex;">
        <app-icons-component  ></app-icons-component>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <span class="material-symbols-outlined">undo</span>
        </button>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <span class="material-symbols-outlined">redo</span>
        </button>
      </div>
      <button mat-flat-button class="target-button" [ngStyle]="{'background-color': data.colour}" (click)="closeDialog()">Close</button>
    </div>
  </div>
  